In [3]:
!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (8.3.0)
WARNING: You are using pip version 20.2.3; however, version 24.0 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [2]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="725@Mysql")

print(mydb.connection_id)

11

In [4]:
cur = mydb.cursor()    #object to execute sql querries

In [5]:
cur.execute("show databases")

In [6]:
for dba in cur:
    print(dba)

('CompanyDB',)
('cx_db1',)
('db1',)
('db2',)
('f_db1',)
('f_db2',)
('idb1',)
('idb2',)
('idb3',)
('idb4',)
('idb5',)
('information_schema',)
('mydb',)
('mydb_emp',)
('mysql',)
('mysql_db',)
('performance_schema',)
('sys',)

In [7]:
cur.execute("use CompanyDB")

In [8]:
cur.execute("show tables")

In [9]:
for table in cur:
    print(table)

('departments',)
('emp_id_dept_id_info',)
('employee_backup',)
('employees',)
('ordered_emp_salary',)

In [10]:
cur.execute('select * from employees')

In [11]:
for data in cur:
    print(data)

(1, 'Bipul', 'kumar', datetime.date(2023, 1, 15), 1, Decimal('40000.00'), 'Bipul kumar', '101')
(2, 'John', 'Doe', datetime.date(2022, 1, 17), 2, Decimal('55000.00'), 'John Doe', '102')
(3, 'Jane', 'Smith', datetime.date(2020, 3, 20), 1, Decimal('45000.00'), 'Jane Smith', '101')
(5, 'Ajay', 'Miller', datetime.date(2019, 5, 22), 3, Decimal('38500.00'), 'Ajay Miller', '103')
(6, 'John', 'Smith', datetime.date(2023, 4, 20), 3, Decimal('77000.00'), 'John Smith', '103')

In [12]:
cur.close()

True

In [15]:
#Establish connection with server
mydb = mysql.connector.connect(host="localhost",user="root",password="725@Mysql")

#Define cursor to execute query
cur = mydb.cursor()

#Select database
cur.execute("use CompanyDB")

#Define query
query = 'select * from employees'
cur.execute(query)

for data in cur:
    print(data)

(1, 'Bipul', 'kumar', datetime.date(2023, 1, 15), 1, Decimal('40000.00'), 'Bipul kumar', '101')
(2, 'John', 'Doe', datetime.date(2022, 1, 17), 2, Decimal('55000.00'), 'John Doe', '102')
(3, 'Jane', 'Smith', datetime.date(2020, 3, 20), 1, Decimal('45000.00'), 'Jane Smith', '101')
(5, 'Ajay', 'Miller', datetime.date(2019, 5, 22), 3, Decimal('38500.00'), 'Ajay Miller', '103')
(6, 'John', 'Smith', datetime.date(2023, 4, 20), 3, Decimal('77000.00'), 'John Smith', '103')